<header class="masthead position-relative">
    <div class="overlay position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0,0,0,0.45);"></div>
    <div class="container px-4 px-lg-5 h-100 position-relative">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-xl-8 col-lg-10">
                <h1 class="display-4 fw-bold text-white mb-3">Kişisel Blog & Proje Portföyü</h1>
                <p class="lead text-white-50 mb-5">Teknoloji, yazılım ve kişisel notlarım. Aşağıdan en yeni içeriklere göz atın.</p>
                <div class="d-flex gap-3 justify-content-center">
                    <a class="btn btn-primary btn-lg px-4" href="#about">Blog Yazıları</a>
                    <a class="btn btn-outline-light btn-lg px-4" href="#portfolio">Projeler</a>
                </div>
            </div>
        </div>
    </div>
</header>